.home {

   // .home__container

   &__container {
      
   }

   // .home__title

   &__title {
      font-size: 2rem;
      font-weight: 600;
   }

   // .home__img

   &__img {
      width: 480px;
      height: 480px;
   }
}

