@import './fonts.scss';
@import './reset.scss';
@import './menu.scss';
@import './about.scss';
@import './home.scss';
@import './card.scss';
@import './hero.scss';

body {
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
   margin-top: 90px;
   flex: 1 1 auto;
}

// ! Контейнеры

[class*="__container"] {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 15px;
}

.title {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	margin: 25vh;
}


